:root {
    --maincolor: #4589FF;
    --icon: #A8A8A8;
    --menue-text: #42526E;
    --style: #D1D1D1;
    --botongradient: #F4F4F4;
    --lightBlue: #D2E3FF;
    --red: #FF3D00;
    --green: #7AE229;
    --orange: #FFA800;
    --hoverBlue: #005DFF;
    --border: #647188;
    --greeting-text: #2A3647;
    --light-gray-backround: #E7E7E7;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/*general button design - siehe 00 General elements.pdf*/

/*design von buttons*/

.blueBtn {
    cursor: pointer;
    width: 135px;
    height: 48px;
    padding: 10px, 35px, 10px, 35px;
    border-radius: 8px;
    border: unset;
    gap: 10px;
    background-color: var(--maincolor);
    font-family: Open Sans;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.blueBtn:hover {
    background-color: var(--hoverBlue);
}

.whiteBtnBlueText {
    cursor: pointer;
    width: 135px;
    height: 48px;
    padding: 10px, 35px, 10px, 35px;
    border-radius: 8px;
    border: unset;
    gap: 10px;
    background-color: white;
    font-family: Open Sans;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--maincolor);
}

/*button with border*/
.greyBorderBtn {
    cursor: pointer;
    width: 197px;
    height: 48px;
    padding: 10px, 35px, 10px, 35px;
    border-radius: 8px;
    border: 1px;
    gap: 10px;
    background-color: white;
    color: var(--border);
    border: 1px solid #647188;
    font-family: Open Sans;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.greyBorderBtn:hover {
    color: var(--maincolor);
    border-color: var(--maincolor);
}

.hoverBlueBorderBtn {
    color: var(--hoverBlue);
    border-color: var(--hoverBlue);
    border: 1px solid var(--hoverBlue);
    cursor: pointer;
    width: 197px;
    height: 48px;
    padding: 10px, 35px, 10px, 35px;
    border-radius: 8px;
    border: 1px;
    gap: 10px;

    font-family: Open Sans;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

/*legal Notes*/

.legalNotes button {
    cursor: pointer;
    width: 150px;
    height: 35px;
    top: 946.3px;
    left: 732px;
    padding: 8px;
    gap: 8px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    background-color: white;
    border: unset;
    color: var(--border);
}

.legalNotes button:hover {
    color: var(--maincolor);
}


/*privacyPolicy*/

.templateMainContainer {
    max-width: 1250px;
    max-height: 80vh;
    overflow: auto;
    margin: auto;
    padding: 20px;
}

.topHeadline {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
}

.pp-h1{
    font-size: 48px;
    font-weight: 700; 
    text-align: left;
    letter-spacing: 2px;
}

.pp-h2{
    margin-top: 10px;
    font-size: 34px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 1px;
    color: var(--maincolor);
}

.pp-h3{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700; 
    text-align: left;
    letter-spacing: 1px;
    color: var(--maincolor);
}

.highlight {
    color: #4589FF;
}  

.goBackButton {
    cursor: pointer;
    background-color: white;
    border: unset;
}

@media (max-width: 480px) {
.topHeadline {
    margin-top: 20px;
    margin-bottom: 30px;
}

.pp-h1{
    font-size: 32px;
}
.pp-h2{
    font-size: 22px;
}
}


/* login ---------------------------------------------------------------------- */

.login-page hidden {
    display: none
}

.slide1 {
    background-color: var(--maincolor);
    width: 100%;
    height: 100vh;
    position: relative;
}

.slide1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 265px;
    height: 323.1px;
    opacity: 1;
    animation: logoMove 6s ease-in-out forwards;
}

@keyframes logoMove {
    to {
        top: 80px;
        left: 77px;
        transform: translate(0, 0);
        width: 100.03px;
        height: 121.97px;
        opacity: 1;
    }
}

.slide1 img {
    cursor: pointer;
    animation: logoMove 200ms ease-in-out 100ms forwards
}

/*login.html*/
.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.loginHeader {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noJoinUser {
    display: flex;
    align-items: center;
    top: 67px;
    left: 1039px;
    gap: 35px
}

.noJoinUser span {
    width: 168px;
    height: 28px;
    font-family: Open Sans;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.loginContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 652px;
    height: 491px;
    border-radius: 30px;
    gap: 39px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px #00000014;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.bodyFadeOut {
    animation: fadeOut 500ms ease-in-out forwards;
}

.loginHeadline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 422px;
    height: 74px;
    gap: 16px;
}

.h1Login {
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0px;
}

.loginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 422px;
    height: 195px;
    margin-top: -30px;
}

.inputField {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 422px;
}

.input {
    cursor: pointer;
    width: 422px;
    height: 48px;
    border: unset;
    color: #FFFFFF;
    padding: 12px, 21px;
    border-bottom: 1px solid #D1D1D1;
}

.inputImage {
    width: 24px;
    height: 24px;
    margin-left: -30px;
}

.rememberMe {
    width: 422px;
    height: 23px;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.underlinedTextButton {
    height: 19px;
    top: 2px;
    left: 197px;
    gap: 10px;
}

.textRemember {
    width: 158px;
    height: 19px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 422px;
    height: 48px;
    gap: 35px;
}

.legalNotes {
    position: fixed;
    bottom: 30px;
    width: 240px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* sing up -------------------------------------------------------------- */
.signupContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--maincolor);
}

.signupContent {
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 598px;
    height: 607px;
    border-radius: 30px;
    gap: 39px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px #00000014;
}

.signupLogo {
    position: absolute;
    top: 80px;
    left: 77px;
    width: 100.03px;
    height: 121.97px;
    opacity: 1;
}

.signinForm {
    width: 422px;
    height: 284px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.signupHeadline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 315px;
    height: 74px;
    gap: 16px;
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
}

.legalNotesNegative {
    position: fixed;
    bottom: 30px;
    width: 240px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--maincolor);
}

.legalNotesNegative button {
    cursor: pointer;
    width: 150px;
    height: 35px;
    top: 946.3px;
    left: 732px;
    padding: 8px;
    gap: 8px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    background-color: var(--maincolor);
    text-align: center;
    border: unset;
    color: white;
}

.legalNotesNegative button:hover {
    color: var(--hoverBlue);
}


/*  Navigation ----------------------------------------------------- */
.navigation-row {
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 0;
    left: 0;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    background-color: white;
}

.navigation-item {

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navigation-item p {
    color: var(--menue-text);
}

.navigation-item img {
    height: 25px;
    width: auto;
}

.navigation-item p:hover {
    cursor: pointer;
}

.navigation-item:hover {
    cursor: pointer;
}

.navigation-legal {
    display: none;
}

.hadline {
    background-color: var(--maincolor);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    width: 100vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.hadline img {
    height: 40px;
}

.hadline-user-info {
    display: flex;
    gap: 16px;
    align-items: center;

}

.user-initals {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: var(--maincolor) solid 3px;
    outline: white solid 3px;
    color: var(--maincolor);
    font-weight: 600;
    font-size: 16px;
}

.hadline-user-info p {
    display: none;
}

.user-initals:hover {
    cursor: pointer;
}

.help {
    display: none;
}

.dropdowen-container {
    position: absolute;
    background-color: white;
    width: 165px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    right: 32px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20);
    border-radius: 10px 0px 10px 10px;
    gap: 16px;
    display: none;
    z-index: 1;
}

.dropdowen-container a {
    color: var(--maincolor);
    text-decoration: none;
    font-size: 20px;
}

.dropdowen-hader:hover .dropdowen-container {
    cursor: pointer;
    display: flex;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    height: calc(100vh - 10rem);
    display: flex;
    flex: 1;
}

.main-container {
    width: 100vw;
    height: 100%;
}

/* for desktop screens */
@media (min-width: 800px) {
    .navigation-row {
        position: relative;
        right: none;
        top: 0;
        flex-direction: column;
        align-items: flex-start;
        left: 0;
        width: 200px;
        padding: 2rem 16px;
        height: 100%;
        justify-content: flex-start;
        gap: 16px;
    }

    .navigation-item {
        flex-direction: row;
        align-items: center;
        padding: 8px 32px;
        gap: 8px;
        width: 100%;
        border-radius: 10px;
    }

    .navigation-item p:hover {
        cursor: pointer;
    }

    .navigation-item:hover {
        cursor: pointer;
        background-color: var(--lightBlue);
    }

    .navigation-item:focus {
        background-color: var(--lightBlue);
        /* vllt js nötig? */
    }

    .navigation {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 93vh;
        width: 200px;
    }

    .navigation-legal {
        width: 200px;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 4rem 16px;
        gap: 16px;
        color: var(--menue-text);
    }

    .navigation-legal div:hover {
        cursor: pointer;
        color: var(--hoverBlue);
    }

    .hadline-user-info p {
        display: flex;
    }

    .help {
        display: flex;
        height: 20px;
        width: 20px;
    }

    .help:hover {
        cursor: pointer;
    }

    .help-dropdowen {
        display: none;
    }

    .dropdowen-container a {
        color: var(--menue-text);
    }

    .main-container {
        display: flex;
        width: 100vw;
    }

    .content {
        width: calc(100vh - 200px);
        height: calc(100vh - 5rem);
    }

}

/*  Add Task ----------------------------------------------------- */

.addTaskWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-height: calc(100vh - 10rem)
}

.addTaskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 28px;
    overflow-y: scroll;
}

/* Breite des Scrollbalkens anpassen */
::-webkit-scrollbar {
    width: 4px;
}

/* Hintergrundfarbe des Scrollbalken-Tracks */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Farbe des Scrollbalken-Daumens */
::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 1);
    border-radius: 8px;
    /* Runden den Daumen ab */
}

/* Hover-Farbe des Scrollbalken-Daumens */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Hover-Farbe der Scrollbalken-Pfeile */
::-webkit-scrollbar-button:hover {
    background-color: #999;
}

.enterTitleBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 68px;
    gap: 4px;
}

.addTaskInputTitle {
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    line-height: 34px;
    width: 100%;
    padding: 7px 16px 7px 16px;
    font-size: 28px;
    font-weight: 400;
    box-sizing: border-box;
}

.addTaskInputTitle::placeholder {
    color: rgb(209, 209, 209);
}

.addTaskInputTitle:hover {
    cursor: pointer;
}

.addTaskInputTitle:focus {
    border-bottom-color: rgba(0, 93, 255, 1);
    outline: none;
}

.errorMessageIfEmptyTitle {
    font-size: 13px;
    color: rgba(255, 129, 144, 1);
    line-height: 16px;
    visibility: hidden;
}

.descriptionBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -20px;
}

.addTaskTopics {
    display: flex;
    align-items: baseline;
    font-size: 16px;
    line-height: 19px;
    color: rgb(66, 82, 110);
}

h3 {
    font-weight: 700;
    margin-block-end: 8px;
    margin-inline-end: 8px;
    font-size: 16px;
}

.addTaskDescriptionInput {
    min-height: 88px;
    border-radius: 0px 10px 10px 10px;
    border: 1px solid rgb(209, 209, 209);
    padding: 18px 16px 18px 16px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
    max-height: 160px;
    text-align: left;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
}

.addTaskDescriptionInput::placeholder {
    color: rgb(209, 209, 209);
}

.addTaskDescriptionInput:hover {
    cursor: pointer;
}

.addTaskDescriptionInput:focus {
    border-color: rgba(0, 93, 255, 1);
    outline: none;
}

.dueDateBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.addTaskDueDateInput {
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 48px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    line-height: 19px;
}

.addTaskDueDateInput::placeholder {
    color: rgb(209, 209, 209);
}

.addTaskDueDateInput:hover {
    cursor: pointer;
}

.addTaskDueDateInput:focus {
    border-bottom-color: rgba(0, 93, 255, 1);
    outline: none;
}

.addTaskDueDateInput::-webkit-calendar-picker-indicator {
    background-image: url('./img/event.svg');
    width: 18px;
    height: 20px;
}

.errorMessageIfEmptyDueDate {
    font-size: 13px;
    color: rgba(255, 129, 144, 1);
    line-height: 16px;
    visibility: hidden;
}

.priorityBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: -8px;
}

.priorityButtons {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    height: 50px;
}

.priorityButtons button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 48px;
    width: 100%;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    font-size: 16px;
    line-height: 19px;
    background-color: white;
    border: none;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.16));
}

.priorityButtons button:hover {
    cursor: pointer;
}

.assignedToBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: -12px;
}

.assignContactsDropdown {
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 48px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    line-height: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('./img/arrow_drop_down.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
}

.assignContactsDropdown:hover {
    cursor: pointer;
}

.assignContactsDropdown:focus {
    border-bottom-color: rgba(0, 93, 255, 1);
    outline: none;
}

.taskCategoryBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: -12px;
}

.selectTaskDropdown {
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 48px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    line-height: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('./img/arrow_drop_down.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
}

.selectTaskDropdown:hover {
    cursor: pointer;
}

.selectTaskDropdown:focus {
    border-bottom-color: rgba(0, 93, 255, 1);
    outline: none;
}

.subtasksBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: -12px;
}

.addTaskSubtasksInput {
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 48px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    line-height: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('./img/addSubtaskPlusIcon.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
}

.addTaskSubtasksInput::placeholder {
    color: rgb(209, 209, 209);
}

.addTaskSubtasksInput:hover {
    cursor: pointer;
}

.addTaskSubtasksInput:focus {
    border-bottom-color: rgba(0, 93, 255, 1);
    outline: none;
}

.createTaskContainer {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    margin-top: 12px;
    gap: 24px;
}

.clearTaskButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 136px;
    padding: 16px 10px 16px 10px;
    border-radius: 10px;
    border: 1px solid rgba(100, 113, 136, 1);
    background-color: white;
    gap: 10px;
    display: none;
}

.clearTaskButton p {
    font-size: 23px;
    font-weight: 400;
    color: rgba(100, 113, 136, 1);
}

.clearTaskButton img {
    height: 24px
}

.clearTaskButton:hover {
    cursor: pointer;
    border: 2px solid rgba(69, 137, 255, 1);
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
}

.createTaskButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 148px;
    border-radius: 10px;
    padding: 12px 8px 12px 8px;
    background-color: rgba(69, 137, 255, 1);
    color: white;
    gap: 4px;
    border: none;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
}

.createTaskButton p {
    font-size: 19px;
    font-weight: 400;
}

.createTaskButton img {
    height: 24px
}

.createTaskButton:hover {
    cursor: pointer;
}

@media (max-width: 1010px) {
    .addTaskContainer {
        padding-left: 8px;
        padding-right: 8px;
    }

    .createTaskContainer {
        flex-direction: column;
        gap: 8px;
        padding-right: 24px !important;
    }
}

@media (min-width: 800px) {
    .addTaskWrapper {
        flex-direction: row;
        width: calc(100vw - 200px);
        height: 100%;
        max-height: calc(100vh - 5rem);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .addTaskContainer {
        width: 488px;
        min-width: 400px;
        height: 100%;
        padding-top: 44px;
        overflow-y: auto;
    }

    /* Width of Scroll Bar*/
    .addTaskContainer::-webkit-scrollbar {
        width: 8px;
    }

    /* Color of Scroll Bar Thumb */
    .addTaskContainer::-webkit-scrollbar-thumb {
        background-color: rgba(168, 168, 168, 1);
    }

    /* Arrow-Icon for Scroll Bar */
    .addTaskContainer::-webkit-scrollbar-button {
        height: 8px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .addTaskContainer::-webkit-scrollbar-button:start {
        background-image: url('./img/scrollButtonUp.svg');
    }

    .addTaskContainer::-webkit-scrollbar-button:end {
        background-image: url('./img/scrollButtonDown.svg');
    }

    .addTaskContainer::-webkit-scrollbar-button:decrement {
        display: flex;
    }

    .addTaskContainer::-webkit-scrollbar-button:increment {
        display: flex;
    }

    .enterTitleBox {
        height: 84px;
    }

    .addTaskInputTitle {
        height: 64px;
        line-height: 38px;
        padding: 13px 16px 13px 16px;
        font-size: 32px;
    }

    .addTaskInputTitle:hover {
        border-bottom-color: rgba(0, 93, 255, 1);
        outline: none;
    }

    .descriptionBox {
        gap: 8px;
        padding-bottom: 20px;
    }

    .addTaskTopics {
        font-size: 19px;
        line-height: 23px;
    }

    h3 {
        margin-block-end: 0px;
        font-size: 19px;
        line-height: 23px;
    }

    .addTaskDescriptionInput {
        min-height: 103px;
        padding: 13px 16px 13px 16px;
        font-size: 19px;
        line-height: 23px;
    }

    .dueDateBox {
        margin-top: -20px;
        gap: 4px;
    }

    .addTaskDueDateInput {
        height: 48px;
        font-size: 19px;
        line-height: 23px;
        margin-top: 4px;
    }

    .addTaskDueDateInput:hover {
        border-bottom-color: rgba(0, 93, 255, 1);
        outline: none;
    }

    .priorityBox {
        gap: 8px;
        margin-top: -20px;
    }

    .priorityButtons button {
        gap: 10px;
        font-size: 19px;
        line-height: 23px;
    }

    .urgentPriorityButton:hover {
        height: 50px;
        border-bottom: 2px solid rgba(255, 61, 0, 1);
        box-sizing: border-box;
    }

    .mediumPriorityButton:hover {
        height: 50px;
        border-bottom: 2px solid rgba(255, 168, 0, 1);
        box-sizing: border-box;
    }

    .lowPriorityButton:hover {
        height: 50px;
        border-bottom: 2px solid rgba(122, 226, 41, 1);
        box-sizing: border-box;
    }

    .assignedToBox {
        margin-top: -4px;
    }

    .assignContactsDropdown {
        font-size: 19px;
        line-height: 23px;
    }

    .assignContactsDropdown:hover {
        border-bottom-color: rgba(0, 93, 255, 1);
        outline: none;
    }

    .taskCategoryBox {
        margin-top: -4px;
    }

    .selectTaskDropdown {
        font-size: 19px;
        line-height: 23px;
    }

    .selectTaskDropdown:hover {
        border-bottom-color: rgba(0, 93, 255, 1);
        outline: none;
    }

    .subtasksBox {
        margin-top: -4px;
    }

    .addTaskSubtasksInput {
        font-size: 19px;
        line-height: 23px;
    }

    .addTaskSubtasksInput:hover {
        border-bottom-color: rgba(0, 93, 255, 1);
        outline: none;
    }

    .createTaskContainer {
        width: 50%;
        height: 100%;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 0;
        flex-grow: 1;
        padding-right: 40px;
    }

    .clearTaskButton {
        display: flex;
    }

    .createTaskButton {
        height: 60px;
        width: 174px;
        padding: 16px 10px 16px 10px;
        filter: none;
    }

    .createTaskButton p {
        font-size: 23px;
    }

    .createTaskButton:hover {
        background-color: rgba(0, 93, 255, 1);
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
    }
}

/*  Summary ----------------------------------------------------- */

.summary-overview {
    height: calc(100vh - 10rem);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
}

.greeting {
    display: none;
}

.btn-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 106px 150px 150px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    grid-template-areas:
        " first first"
        " second second"
        "thrid fourth"
        "fith sixed";
    padding: 16px;
    max-width: 400px;
}

.board {
    grid-area: thrid;
}

.progress {
    grid-area: fourth;
}

.feedback {
    grid-area: fith;
}

.done {
    grid-area: sixed;
}

.btn-container img {
    height: 76px;
    width: 76px;
}

.urgent-button {
    background-color: var(--maincolor);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 30px;
    padding: 40px 35px;
    font-size: 16px;
    border: 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    width: 100vw;
    max-width: 400px;
    grid-area: first;
    max-height: 150px;
    transition: all 0.15s ease-in-out;
}

.urgent-button h2 {
    font-weight: 700px;
}

.urgent-button p {
    font-weight: 400;
}

.urgent-button:hover {
    cursor: pointer;
    border-radius: 0px 30px 30px 30px;
    transform: scale(1.04);
    background-color: white;
    color: var(--hoverBlue);
}

.urgent-button:hover .wiht-line {
    border: 2px solid var(--hoverBlue);
    transition-timing-function: ease-in-out;
}

.urgent-button:hover p {
    font-size: 28px;
    transition-timing-function: ease-in-out;
}

.urgent-button:hover h2 {
    font-size: 43px;
    transition-timing-function: ease-in-out;
}

.task-number {
    font-weight: 700;
    font-size: 48px;
}

.wiht-line {
    height: 120px;
    border: 2px solid white;
    border-radius: 10px;
}

.btn-urgent-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 116px;
}

.btn-text {
    font-size: 19px;
    font-weight: 400;
}

.btn-urgent-back {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
}

.btn-urgent-back h2 {
    font-size: 23px;
}

.btn-urgent-back p {
    font-size: 16px;
    font-weight: 300;
}

.to-do-btn {
    background-color: var(--lightBlue);
    width: 100vw;
    max-width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 15px 40px;
    border-radius: 30px;
    border: 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    max-height: 106px;
    grid-area: second;
    transition: all 0.2s ease-in-out;
}

.to-do-btn:hover {
    cursor: pointer;
    border-radius: 0px 30px 30px 30px;
    transform: scale(1.04);
    background-color: white;
    color: var(--hoverBlue);
}

.to-do-btn:hover .btn-text {
    font-size: 28px;
    font-weight: 400;
}

.light-task-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    border: 0px;
    padding: 15px 40px;
    gap: 7px;
    max-height: 160px;
    max-width: 188px;
    width: 50vw;
    transition: all 0.2s ease-in-out;
}

.light-task-btn:hover {
    cursor: pointer;
    border-radius: 0px 30px 30px 30px;
    transform: scale(1.04);
    background-color: var(--hoverBlue);
    color: white;

}

.light-task-btn:hover img {
    object-fit: cover;
    border: 3px solid white;
    border-radius: 100%;
    /* maybe png? */
}

.light-task-btn:hover .btn-text {
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.light-task-btn p {
    color: var(--maincolor);
}

.gap-btn-light {
    gap: 20px;
}

.flex-row-btn {
    display: flex;
    gap: 15px;
}

.btn-fix {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 400px) {
    .urgent-button {
        width: 320px;
    }

    .light-task-btn {
        width: 150px;
    }

    .to-do-btn {
        width: 320px;
    }

    .summary-overview {
        padding: 0;
    }
}

@media (min-width: 800px) {
    .greeting {
        display: flex;
        color: var(--greeting-text);
        font-weight: 400;
        font-size: 48px;
    }

    .summary-overview {
        height: calc(100vh - 5rem);
        width: calc(100vw - 200px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 32px 16px;
        flex-direction: column;
        gap: 32px;
    }

    .to-do-btn {
        background-color: var(--lightBlue);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 40px;
        width: none;
        max-width: 200px;
        flex-direction: column;
        max-height: none;
    }

    .light-task-btn {
        padding: 40px;
    }

    .light-task-btn {
        max-height: none;
    }

    .btn-container {
        width: 100%;
        min-width: 600px;
        max-width: calc(100vw - 200px);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 190px 220px 220px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        grid-template-areas:
            "first first first"
            "second thrid fourth"
            "fith sixed ."
        ;
    }

    .urgent-button {
        padding: 40px 35px;
        max-width: calc(100vw - 50px);
        grid-area: first;
        max-height: 150px;
        width: 100%;
    }

}

@media (min-width: 1000px) {
    .btn-container {
        width: 100%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 190px 220px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        grid-template-areas:
            "first first first thrid"
            "second fourth fith sixed"
        ;
    }

    .board {
        height: 190px;
        max-height: 190px !important;
    }

    .urgent-button {
        max-height: 190px;
        gap: 32px;
        justify-content: space-evenly;
    }
}

/*  Contacts ----------------------------------------------------- */

.contactsWrapper {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    padding-right: 4px;
    padding-left: 4px;
}

.contactsContainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 24px;
    overflow: scroll;
}

.addContactButton {
    position: absolute;
    bottom: 24px;
    right: 24px;
    height: 64px;
    width: 64px;
    border-radius: 10px;
    border: 1px solid rgba(69, 137, 255, 1);
    background-color: rgba(69, 137, 255, 1);
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
}

.contactDetailsContainer {
    position: fixed;
    top: 80px;
    left: 0px;
    height: calc(100% - 160px);
    width: 100%;
    background-color: white;
    display: none;
    z-index: 6;
    padding: 64px 24px 0px 24px;
}



.contactInfoBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 21px;
}

.contactInfoHeadlineAndBackButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contactInfoHeadline {
    display: flex;
    font-size: 19px;
    line-height: 23px;
    font-weight: 700;
}

.contactInfoBackButton {
    display: flex;
}

.contactInfoContactDetails {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.contactInfoAvatarAndName {
    display: flex;
    height: 80px;
    gap: 20px;
}

.contactInfoAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 1);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.16));
    background-color: rgba(255, 122, 0, 1);
    color: white;
    font-size: 27px;
    line-height: 32px;
}

.contactInfoName {
    display: flex;
    align-items: center;
    font-size: 33px;
    line-height: 40px;
}

.contactInfoEmailAndPhone {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contactInfoEmail {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    line-height: 19px;
}

.contactInfoEmail p {
    font-weight: 700;
}

.contactInfoEmail a {
    color: rgba(0, 124, 238, 1);
    text-decoration: none;
}

.contactInfoPhone {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    line-height: 19px;
}

.contactInfoPhone p {

    font-weight: 700;
}

.addEditContactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    right: -100%;
    transition: right 0.125s ease;
    padding: 8px 16px 8px 16px;
    z-index: 10;
}

.showAddEditContactContainer {
    right: 0;
}

.addEditContactCard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.16));
}

.contactCardTopSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: rgba(0, 93, 255, 1);
    height: 40%;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.closeAddEditContactCard {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.closeAddEditContactCard:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.addAndEditContactHeadline {
    color: white;
    font-size: 47px;
    line-height: 56px;
    font-weight: 700;
}

.addContactSubheadline {
    color: white;
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
}

.avatarIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: calc(50% - 60px);
    top: calc(40% - 60px);
    height: 120px;
    width: 120px;
    background-color: rgba(209, 209, 209, 1);
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 1);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
    font-size: 32px;
    line-height: 38;
    color: white;
    font-weight: 400;
}

.avatarIcon img {
    height: 64px;
    width: 64px;
}

.contactCardBottomSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 60%;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    padding-top: 24px;
}

.addContactContactDetails {
    display: flex;
    flex-direction: column;
    height: 54%;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    gap: 8px;
}

.addContactDetailsInput {
    border: none;
    width: 100%;
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 41px;
    padding: 12px 16px 12px 16px;
    font-size: 19px;
    line-height: 23px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 0px center;
    background-origin: content-box;
}

.addContactDetailsNameInput {
    background-image: url('./img/addContactNameIcon.svg');
}

.addContactDetailsEmailInput {
    background-image: url('./img/addContactEmailIcon.svg');
}

.addContactDetailsPhoneInput {
    background-image: url('./img/addContactPhoneIcon.svg');
}

.addContactDetailsInput::placeholder {
    color: rgb(209, 209, 209);
}

.addContactDetailsInput:hover {
    cursor: pointer;
}

.addContactDetailsInput:focus {
    border-bottom-color: rgba(0, 93, 255, 1);
    outline: none;
}

.createContactButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 173px;
    border-radius: 10px;
    padding: 12px 8px 12px 8px;
    background-color: rgba(69, 137, 255, 1);
    color: white;
    gap: 4px;
    border: none;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
}

.createContactButton p {
    font-size: 19px;
    font-weight: 400;
}

.createContactButton img {
    height: 24px
}

.createContactButton:hover {
    cursor: pointer;
}

.contactList {
    height: 100%;
    width: 100%;
}

.contactBoxForEachLetter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.sectionByFirstLetter {
    display: flex;
    width: 100%;
    padding: 17px 36px 17px 36px;
}

.contactsSeparator {
    height: 1px;
    width: 100%;
    background-color: rgba(209, 209, 209, 1);
}

.contact {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 35px;
    padding: 15px 24px 15px 24px;
}

.contactAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    background-color: rgba(255, 122, 0, 1);
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 1);
    font-size: 12px;
    line-height: 14px;
    color: white;
}

.contactNameAndEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 42px;
    gap: 5px;
}

.contactName {
    font-size: 19px;
    line-height: 23px;
}

.contactEmail {
    font-size: 16px;
    line-height: 19px;
    color: rgba(69, 137, 255, 1);
}

.editContactMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 116px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px 20px 0px 20px;
    position: absolute;
    bottom: 20px;
    right: -100%;
    transition: right 0.125s ease;
    z-index: 11;
}

.editContact {
    display:flex;
    height:40px;
    width: 96px;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;
}

.deleteContact {
    display:flex;
    height:40px;
    width: 96px;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;
}

.showEditContactMenu {
    right: 24px;
}

.d-flex {
    display: flex;
}

@media (min-width: 800px) {
    .contactsWrapper {
        display: flex;
        position: relative;
        width: calc(100vw - 200px);
        height: 100vh;
        overflow: hidden;
    }

    .contactsContainer {
        width: 30%;
        height: 100%;
        background-color: lightblue;
    }

    .contactDetailsContainer {
        width: 70%;
        height: 100%;
        background-color: lightgreen;
    }

    .addEditContactContainer {
        width: 40%;
        height: 100%;
        background-color: lightcoral;
        position: absolute;
        top: 0;
        right: -40%;
        transition: right 0.3s ease;
    }

    .showAddEditContactContainer {
        right: 0;
    }

    .addContactButton {
        position: unset;
        height: 80px;
        width: 160px;
    }
}

/*  Board ----------------------------------------------------- */

.wraper-board {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
}

.board-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
}

.add-btn-top {
    display: none;
}

.kanban-board {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 26px;
    overflow-y: scroll;
    padding: 0px 16px;
}

.board-collum {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.board-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    width: 100%;
    height: 48px;
    border: 1px solid var(--icon);
    border-radius: 10px 0px 0px 10px;
    border-right: none;
}

.search-input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--style);
    padding-left: 16px;
}

.search-btn {
    height: 48px;
    border: 1px solid var(--icon);
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    padding-right: 16px;
    gap: 16px;
}

.search-btn:hover {
    cursor: pointer;
}

.search-boder {
    height: 80%;
    width: 1px;
    border: 1px solid var(--style);
}

.no-task-div {
    height: 48px;
    width: 100%;
    border: 2px dashed var(--icon);
    background-color: var(--light-gray-backround);
    border-radius: 10px;
    color: var(--icon);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.card {
    width: 250px;
    height: auto;
    padding: 16px;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.category-card {
    padding: 4px 16px; 
    background-color: var(--hoverBlue);
    border-radius: 8px;
    color: white;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.card-text h3 {
 color: var(--maincolor);
 font-size: 16px;
 font-weight: 700;
}

.card-text p {
color: var(--icon);
font-size: 16px;
}

.progressbar-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.progressbar {
    width: 128px;
    height: 8px;
    background-color: var(--botongradient);
    border-radius: 8px;
}

.progressbar-area p {
    font-size: 13px;
}

.progress-color {
    height: 8px;
    border-radius: 8px;
    background-color: var(--maincolor); 
}

@media (min-width: 800px) {
    .wraper-board {
        width: calc(100vw - 200px);
    }
}
/*  nächter container ----------------------------------------------------- */