:root {
    --maincolor: #4589FF;
    --icon: #A8A8A8;
    --menue-text: #42526E;
    --style: #D1D1D1;
    --botongradient: #F4F4F4;
    --lightBlue: #D2E3FF;
    --red: #FF3D00;
    --green: #7AE229;
    --orange: #FFA800;
    --hoverBlue: #005DFF;
    --border: #647188;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

/*general button design - siehe 00 General elements.pdf*/

/*design von buttons*/

.blueBtn {
    cursor: pointer;
    width: 135px;
    height: 48px;
    padding: 10px, 35px, 10px, 35px;
    border-radius: 8px;
    border: unset;
    gap: 10px;
    background-color: var(--maincolor);
    font-family: Open Sans;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.blueBtn:hover {
    background-color: var(--hoverBlue);
}

.whiteBtnBlueText {
    cursor: pointer;
    width: 135px;
    height: 48px;
    padding: 10px, 35px, 10px, 35px;
    border-radius: 8px;
    border: unset;
    gap: 10px;
    background-color: white;
    font-family: Open Sans;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--maincolor);
}

/*button with border*/
.greyBorderBtn {
    cursor: pointer;
    width: 197px;
    height: 48px;
    padding: 10px, 35px, 10px, 35px;
    border-radius: 8px;
    border: 1px;
    gap: 10px;
    background-color: white;
    color: var(--border);
    border: 1px solid #647188;
    font-family: Open Sans;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.greyBorderBtn:hover {
    color: var(--maincolor);
    border-color: var(--maincolor);
}

.hoverBlueBorderBtn {
    color: var(--hoverBlue);
    border-color: var(--hoverBlue);
    border: 1px solid var(--hoverBlue);
    cursor: pointer;
    width: 197px;
    height: 48px;
    padding: 10px, 35px, 10px, 35px;
    border-radius: 8px;
    border: 1px;
    gap: 10px;

    font-family: Open Sans;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

/*legal Notes*/

.legalNotes button {
    cursor: pointer;
    width: 150px;
    height: 35px;
    top: 946.3px;
    left: 732px;
    padding: 8px;
    gap: 8px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    background-color: white;
    border: unset;
    color: var(--border);
}

.legalNotes button:hover {
    color: var(--maincolor);
}




/* login ---------------------------------------------------------------------- */

.slide1 {
    background-color: var(--maincolor);
    width: 100%;
    height: 100vh;
    position: relative;
}

.slide1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 265px;
    height: 323.1px;
    opacity: 1;
    animation: logoMove 200ms ease-in-out forwards;
}

@keyframes logoMove {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1
    }

    100% {
        top: 80px;
        left: 77px;
        transform: translate(0, 0);
        width: 100.03px;
        height: 121.97px;
        opacity: 1;
    }
}

.slide1 img {
    cursor: pointer;
    animation: logoMove 200ms ease-in-out 100ms forwards
}

/*login.html*/
.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.loginHeader {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noJoinUser {
    display: flex;
    align-items: center;
    top: 67px;
    left: 1039px;
    gap: 35px
}

.noJoinUser span {
    width: 168px;
    height: 28px;
    font-family: Open Sans;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.loginContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 652px;
    height: 491px;
    border-radius: 30px;
    gap: 39px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px #00000014;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.bodyFadeOut {
    animation: fadeOut 500ms ease-in-out forwards;
}

.loginHeadline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 422px;
    height: 74px;
    gap: 16px;
}

.h1Login {
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0px;
}

.loginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 422px;
    height: 195px;
    margin-top: -30px;
}

.inputField {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 422px;
}

.input {
    cursor: pointer;
    width: 422px;
    height: 48px;
    border: unset;
    color: #FFFFFF;
    padding: 12px, 21px;
    border-bottom: 1px solid #D1D1D1;
}

.inputImage {
    width: 24px;
    height: 24px;
    margin-left: -30px;
}

.rememberMe {
    width: 422px;
    height: 23px;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.underlinedTextButton {
    height: 19px;
    top: 2px;
    left: 197px;
    gap: 10px;
}

.textRemember {
    width: 158px;
    height: 19px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 422px;
    height: 48px;
    gap: 35px;
}

.legalNotes {
    position: fixed;
    bottom: 30px;
    width: 240px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* sing up -------------------------------------------------------------- */
.signupContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--maincolor);
}

.signupContent {
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 598px;
    height: 607px;
    border-radius: 30px;
    gap: 39px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px #00000014;
}

.signupLogo {
    position: absolute;
    top: 80px;
    left: 77px;
    width: 100.03px;
    height: 121.97px;
    opacity: 1;
}

.signinForm {
    width: 422px;
    height: 284px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.signupHeadline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 315px;
    height: 74px;
    gap: 16px;
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
}

.legalNotesNegative {
    position: fixed;
    bottom: 30px;
    width: 240px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--maincolor);
}

.legalNotesNegative button {
    cursor: pointer;
    width: 150px;
    height: 35px;
    top: 946.3px;
    left: 732px;
    padding: 8px;
    gap: 8px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    background-color: var(--maincolor);
    text-align: center;
    border: unset;
    color: white;
}

.legalNotesNegative button:hover {
    color: var(--hoverBlue);
}


/*  Navigation ----------------------------------------------------- */
.navigation-row {
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 0;
    left: 0;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    background-color: white;
}

.navigation-item {

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navigation-item p {
    color: var(--menue-text);
}

.navigation-item img {
    height: 25px;
    width: auto;
}

.navigation-item p:hover {
    cursor: pointer;
}

.navigation-item:hover {
    cursor: pointer;
}

.navigation-legal {
    display: none;
}

.hadline {
    background-color: var(--maincolor);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    width: 100vw;
}

.hadline img {
    height: 40px;
}

.hadline-user-info {
    display: flex;
    gap: 16px;
    align-items: center;

}

.user-initals {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: var(--maincolor) solid 3px;
    outline: white solid 3px;
    color: var(--maincolor);
    font-weight: 600;
    font-size: 16px;
}

.hadline-user-info p {
    display: none;
}

.user-initals:hover {
    cursor: pointer;
}

.help {
    display: none;
}

.dropdowen-container {
    position: absolute;
    background-color: white;
    width: 165px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    right: 32px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.20);
    border-radius: 10px 0px 10px 10px;
    gap: 16px;
    display: none;
    z-index: 1;
}

.dropdowen-container a {
    color: var(--maincolor);
    text-decoration: none;
    font-size: 20px;
}

.dropdowen-hader:hover .dropdowen-container {
    cursor: pointer;
    display: flex;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.main-container {
    width: 100vw;
}

/* for desktop screens */
@media (min-width: 800px) {
    .navigation-row {
        position: relative;
        right: none;
        top: 0;
        flex-direction: column;
        align-items: flex-start;
        left: 0;
        width: 200px;
        padding: 2rem 16px;
        height: 100%;
        justify-content: flex-start;
        gap: 16px;
    }

    .navigation-item {
        flex-direction: row;
        align-items: center;
        padding: 8px 32px;
        gap: 8px;
        width: 100%;
        border-radius: 10px;
    }

    .navigation-item p:hover {
        cursor: pointer;
    }

    .navigation-item:hover {
        cursor: pointer;
        background-color: var(--lightBlue);
    }

    .navigation-item:focus {
        background-color: var(--lightBlue);
        /* vllt js nötig? */
    }

    .navigation {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 93vh;
        width: 200px;
    }

    .navigation-legal {
        width: 200px;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 4rem 16px;
        gap: 16px;
        color: var(--menue-text);
    }

    .navigation-legal div:hover {
        cursor: pointer;
        color: var(--hoverBlue);
    }

    .hadline-user-info p {
        display: flex;
    }

    .help {
        display: flex;
        height: 20px;
        width: 20px;
    }

    .help:hover {
        cursor: pointer;
    }

    .help-dropdowen {
        display: none;
    }

    .dropdowen-container a {
        color: var(--menue-text);
    }

    .main-container {
        display: flex;
        width: 100vw;
    }

    .content {
        width: 100%;
        height: 100%;
    }

}

/*  Add Task ----------------------------------------------------- */
.addTaskWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-height: calc(100vh - 10rem)
}

.addTaskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 80px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 28px;
    overflow-y: scroll;
}

/* Breite des Scrollbalkens anpassen */
::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

/* Hintergrundfarbe des Scrollbalken-Tracks */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Farbe des Scrollbalken-Daumens */
::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 1);
    border-radius: 8px; /* Runden den Daumen ab */
}

/* Hover-Farbe des Scrollbalken-Daumens */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Hover-Farbe der Scrollbalken-Pfeile */
::-webkit-scrollbar-button:hover {
    background-color: #999;
}

.addTaskInputTitle {
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    line-height: 34px;
    width: 100%;
    padding: 7px 16px 7px 16px;
    font-size: 28px;
    font-weight: 400;
    box-sizing: border-box;
}

.addTaskInputTitle::placeholder {
    color: rgb(209, 209, 209);
}

.addTaskInputTitle:hover {
    cursor: pointer;
}

.addTaskInputTitle:focus {
    border-bottom-color: rgba(0, 93, 255, 1);
    outline: none;
}

.descriptionBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.addTaskTopics {
    display: flex;
    align-items: baseline;
    font-size: 16px;
    line-height: 19px;
    color: rgb(66, 82, 110);
}

h3 {
    font-weight: 700;
    margin-block-end: 8px;
    margin-inline-end: 8px;
    font-size: 16px;
}

.addTaskDescriptionInput {
    height: 88px;
    border-radius: 0px 10px 10px 10px;
    border: 1px solid rgb(209, 209, 209);
    padding: 18px 16px 18px 16px;
    box-sizing: border-box;
    font-size: 16px;
}

.addTaskDescriptionInput::placeholder {
    color: rgb(209, 209, 209);
}

.addTaskDescriptionInput:hover {
    cursor: pointer;
}

.addTaskDescriptionInput:focus {
    border-color: rgba(0, 93, 255, 1);
    outline: none;
}

.dueDateBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.addTaskDueDateInput {
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 48px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    line-height: 19px;
}

.addTaskDueDateInput::placeholder {
    color: rgb(209, 209, 209);
}

.addTaskDueDateInput:hover {
    cursor: pointer;
}

.addTaskDueDateInput:focus {
    border-bottom-color: rgba(0, 93, 255, 1);
    outline: none;
}

.addTaskDueDateInput::-webkit-calendar-picker-indicator {
    background-image: url('./img/event.svg');
    width: 18px;
    height: 20px;
}

.priorityBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: 12px;
}

.priorityButtons {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    gap: 16px;
    height: 50px;
}

.priorityButtons button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 48px;
    width: 100%;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    font-size: 16px;
    line-height: 19px;
    background-color: white;
    border: none;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.16));
}

.priorityButtons button:hover {
    cursor: pointer;
}

.assignedToBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: -12px;
}

.assignContactsDropdown {
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 48px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    line-height: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('./img/arrow_drop_down.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
}

.assignContactsDropdown:hover {
    cursor: pointer;
}

.assignContactsDropdown:focus {
    border-bottom-color: rgba(0, 93, 255, 1);
    outline: none;
}

.taskCategoryBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: -12px;
}

.selectTaskDropdown {
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 48px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    line-height: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('./img/arrow_drop_down.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
}

.selectTaskDropdown:hover {
    cursor: pointer;
}

.selectTaskDropdown:focus {
    border-bottom-color: rgba(0, 93, 255, 1);
    outline: none;
}

.subtasksBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: -12px;
}

.addTaskSubtasksInput {
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 48px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    line-height: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('./img/addSubtaskPlusIcon.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
}

.addTaskSubtasksInput::placeholder {
    color: rgb(209, 209, 209);
}

.addTaskSubtasksInput:hover {
    cursor: pointer;
}

.addTaskSubtasksInput:focus {
    border-bottom-color: rgba(0, 93, 255, 1);
    outline: none;
}

.createTaskContainer {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    
}

.createTaskButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 148px;
    border-radius: 10px;
    padding: 12px 8px 12px 8px;
    background-color: rgba(69, 137, 255, 1);
    color: white;
    gap: 4px;
    border: none;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
}

@media (min-width: 800px) {
    .addTaskWrapper {
        width: 100%;
        height: 100%;
    }
}

.createTaskButton:hover {
    cursor: pointer;
}

@media only screen and (min-width: 480px) {
    .urgentPriorityButton:hover {
        height: 50px;
        border-bottom: 2px solid rgba(255, 61, 0, 1);
        box-sizing: border-box;
    }

    .mediumPriorityButton:hover {
        height: 50px;
        border-bottom: 2px solid rgba(255, 168, 0, 1);
        box-sizing: border-box;
    }

    .lowPriorityButton:hover {
        height: 50px;
        border-bottom: 2px solid rgba(122, 226, 41, 1);
        box-sizing: border-box;
    }

}
/*  nächter container ----------------------------------------------------- */