<div class="wraper-board">
    <div class="board-top">
        <input type="text"><button><img src="" alt=""></button>
        <button class="blueBtn"></button>
    </div>
    <div class="kanban-board">
        <div>
            <div>
                <h3>To do</h3>
                <img src="./img/plus.svg" alt="plus icon">
            </div>
            <div>

            </div>
        </div>
        <div>
            <div>
                <h3>In progress</h3>
                <img src="./img/plus.svg" alt="plus icon">
            </div>
            <div>
                
            </div>
        </div>
        <div>
            <div>
                <h3>Await feedback</h3>
                <img src="./img/plus.svg" alt="plus icon">
            </div>
            <div>
                
            </div>
        </div>
        <div>
            <div>
                <h3>Done</h3>
                <img src="./img/plus.svg" alt="plus icon">
            </div>
            <div>
                
            </div>
        </div>
    </div>
</div>