<div class="wraper-board">
    <div class="board-top">
        <input class="search-input" type="text" placeholder="Find Task"><button class="search-btn">
            <div class="search-boder"></div><img src="./img/search.svg" alt="">
        </button>
        <button class="blueBtn add-btn-top"></button>
    </div>
    <div class="kanban-board">
        <div class="board-collum">
            <div class="board-header">
                <h3>To do</h3>
                <img src="./img/plus button.svg" alt="plus icon">
            </div>
            <div id="to-do-container">
                <div class="no-task-div">No tasks To do</div>
            </div>
        </div>
        <div class="board-collum">
            <div class="board-header">
                <h3>In progress</h3>
                <img src="./img/plus button.svg" alt="plus icon">
            </div>
            <div id="progress-container">
                <div class="no-task-div">No tasks in progress</div>
            </div>
        </div>
        <div class="board-collum">
            <div class="board-header">
                <h3>Await feedback</h3>
                <img src="./img/plus button.svg" alt="plus icon">
            </div>
            <div id="feedback-container">
                <div class="no-task-div">No tasks feedback</div>
            </div>
        </div>
        <div class="board-collum">
            <div class="board-header">
                <h3>Done</h3>
                <img src="./img/plus button.svg" alt="plus icon">
            </div>
            <div id="done-container">
                <div class="no-task-div">No tasks done</div>
            </div>
            
        </div>
    </div>
</div>