<div class="contactsWrapper">
    <div class="contactsContainer">
        <div class="contactDetailsContainer" id="contactInfo">
            <div class="contactInfoBox">
                <div class="contactInfoHeadlineAndBackButton">
                    <div class="contactInfoHeadline">
                        Contact Information
                    </div>
                    <div class="contactInfoBackButton" onclick="openContactInfo()">
                        <img src="./img/contactInfoBackButton.svg">
                    </div>
                </div>
                <div class="contactInfoContactDetails">
                    <div class="contactInfoAvatarAndName">
                        <div class="contactInfoAvatar">
                            AM
                        </div>
                        <div class="contactInfoName">
                            Anton Mayer
                        </div>
                    </div>
                    <div class="contactInfoEmailAndPhone">
                        <div class="contactInfoEmail">
                            <p>Email</p>
                            <a href= "mailto:abc@example.com">anton@gmail.com</a>
                        </div>
                        <div class="contactInfoPhone">
                            <p>Phone</p>
                            <span>+49 1111 111 11 1</span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="addContactButton" onclick="editContact()">
                <img src="./img/contactMenuButton.svg">
            </button>
        </div>
        <div class="contactList" id="contactList">
            <div class="contactBoxForEachLetter">
                <div class="sectionByFirstLetter">
                    A
                </div>
                <div class="contactsSeparator">
                </div>
                <div class="contact" onclick="openContactInfo()">
                    <div class="contactAvatar">
                        AM
                    </div>
                    <div class="contactNameAndEmail">
                        <div class="contactName">
                            Anton Mayer
                        </div>
                        <div class="contactEmail">
                            anton@gmail.com
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div class="contactAvatar">
                        AG
                    </div>
                    <div class="contactNameAndEmail">
                        <div class="contactName">
                            Albert Gerdes
                        </div>
                        <div class="contactEmail">
                            albert@gmail.com
                        </div>
                    </div>
                </div>
            </div>
            <div class="contactBoxForEachLetter">
                <div class="sectionByFirstLetter">
                    B
                </div>
                <div class="contactsSeparator">
                </div>
                <div class="contact">
                    <div class="contactAvatar">
                        BZ
                    </div>
                    <div class="contactNameAndEmail">
                        <div class="contactName">
                            Britta Zielke
                        </div>
                        <div class="contactEmail">
                            b.zielke@gmail.com
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div class="contactAvatar">
                        BS
                    </div>
                    <div class="contactNameAndEmail">
                        <div class="contactName">
                            Bernt Saathoff
                        </div>
                        <div class="contactEmail">
                            bernt.s@gmail.com
                        </div>
                    </div>
                </div>
            </div>
            <div class="contactBoxForEachLetter">
                <div class="sectionByFirstLetter">
                    C
                </div>
                <div class="contactsSeparator">
                </div>
                <div class="contact">
                    <div class="contactAvatar">
                        CS
                    </div>
                    <div class="contactNameAndEmail">
                        <div class="contactName">
                            Carsten Schmidt
                        </div>
                        <div class="contactEmail">
                            carsten.schmidt@gmail.com
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div class="contactAvatar">
                        CM
                    </div>
                    <div class="contactNameAndEmail">
                        <div class="contactName">
                            Caroline Tabeling
                        </div>
                        <div class="contactEmail">
                            caroline@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="addContactButton" onclick="addContact()">
            <img src="./img/addContactButtonIcon.svg">
        </button>
        <!-- <div class="contactDetailsContainer">
        </div> -->
        <div id="addEditContact" class="addEditContactContainer">
            <div class="addEditContactCard">
                <div class="contactCardTopSection">
                    <div class="closeAddEditContactCard" onclick="addContact()">
                        <img src="./img/addEditContactCard.svg">
                    </div>
                    <div class="addAndEditContactHeadline" id="addAndEditContactHeadline">Add contact</div>
                    <div class="addContactSubheadline">Tasks are better with a team!</div>
                </div>
                <div class="avatarIcon" id="avatarIcon">
                    <img src="./img/addContactAvatar.svg">
                </div>
                <div class="contactCardBottomSection">
                    <div class="addContactContactDetails">
                        <input class="addContactDetailsInput addContactDetailsNameInput" type="text" placeholder="Name" id="editContactName">
                        <input class="addContactDetailsInput addContactDetailsEmailInput" type="email" placeholder="Email" id="editContactEmail">
                        <input class="addContactDetailsInput addContactDetailsPhoneInput" type="tel" placeholder="Phone" id="editContactPhone">
                    </div>
                    <button class="createContactButton">
                        <p>Create contact</p>
                        <img src="./img/createTaskCheckIcon.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>