<div class="contactsWrapper">
    <div class="contactsContainer">
        <button class="addContactButton" onclick="editContact()">
        <img src="./img/addContactButtonIcon.svg">
        </button>
    </div>
    <div class="contactDetailsContainer">

    </div>
    <div id="addEditContact" class="addEditContactContainer">
        <div class="addEditContactCard">
            <div class="contactCardTopSection">
                <div class="closeAddEditContactCard" onclick="editContact()">
                    <img src="./img/addEditContactCard.svg">
                </div>
                <div class="addContactHeadline">Add contact</div>
                <div class="addContactSubheadline">Tasks are better with a team!</div>
            </div>
            <div class="avatarIcon">
                <img src="./img/addContactAvatar.svg">
            </div>
            <div class="contactCardBottomSection">
                <div class="addContactContactDetails">
                    <input class="addContactDetailsInput addContactDetailsNameInput" type="text" placeholder="Name">
                    <input class="addContactDetailsInput addContactDetailsEmailInput" type="email" placeholder="Email">
                    <input class="addContactDetailsInput addContactDetailsPhoneInput" type="tel" placeholder="Phone">
                </div>
                <button class="createContactButton">
                    <p>Create contact</p>
                    <img src="./img/createTaskCheckIcon.svg">
                </button>
            </div>
        </div>
    </div>
</div>
