<div class="summary-overview">
    <h1 id="greeting" class="greeting">Good morning</h1>
    <div class="btn-container">
        <div class="top-btn">
            <button class="urgent-button">
                <div class="btn-urgent-front">
                    <div class="flex-row">
                        <img src="./img/urgent icon.svg" alt="clock icon">
                        <h2 id="urgent-number" class="task-number">1</h2>
                    </div>
                    <p>Tasks Urgent</p>
                </div>
                <div class="wiht-line"></div>
                <div class="btn-urgent-back">
                    <h2 id="due-date">April 13, 2024</h2>
                    <p>Upcoming Deadline</p>
                </div>
            </button>
            <button></button>
        </div>
        <div>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
    </div>
</div>